<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-title>
      {{categoryData.categoryname }}
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" color="secondary">
  <ion-item> 
    <ion-label position="stacked">Category Name</ion-label>
    <ion-input [(ngModel)]="categoryData.categoryname" type="text"></ion-input>
  </ion-item>

  <!-- Disable other fields for visibility -->
  <ion-item>
    <ion-label position="stacked">Ville ID</ion-label>
    <ion-input [(ngModel)]="categoryData.ville_id" type="text" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Business Owner ID</ion-label>
    <ion-input [(ngModel)]="categoryData.business_owner_id" type="text" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Commerce ID</ion-label>
    <ion-input [(ngModel)]="categoryData.commerce_id" type="text" disabled></ion-input>
  </ion-item>

   
</ion-content>

<ion-footer>
  <ion-row justify-content-between>
    <ion-col size="6">
      <ion-button expand="full" (click)="closeModal()">Cancel</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="confirm()">Confirm</ion-button>
    </ion-col>
  </ion-row>
</ion-footer> 