<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Payments
        </ion-title>
        <ion-buttons slot="end">
          <!-- Add a placeholder for remaining days -->
          <ion-button *ngIf="businessOwnerIdExistInBusinessOwnersPayments">
            Remaining Days: {{ remainingDays }}
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">
    <ion-grid>
      <ion-row class="first-row">
        <ion-col size="12">
          <form [formGroup]="paymentForm">
            <ion-item>
              <ion-label class="red-bold-label">Duration (months)</ion-label>
              <ion-radio-group formControlName="durationMonths">
                <ion-row>
                  <ion-col size="4">
                    <ion-item>
                      <ion-radio [value]="0.1" labelPlacement="stacked" alignment="start">0.1</ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-radio [value]="0.5" labelPlacement="stacked" alignment="start">0.5</ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-radio [value]="1" labelPlacement="stacked" alignment="start">1</ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>              
            </ion-item>
            <ion-item>
              <ion-label class="red-bold-label">Payment Date</ion-label>
              <ion-datetime 
                formControlName="paymentDate" 
                displayFormat="YYYY-MM-DD" 
                placeholder="Select Date" 
                [min]="currentDate"
                [max]="currentDate"
              >
              </ion-datetime>
            </ion-item>
        
            <ion-item>
              <ion-label class="red-bold-label">Amount</ion-label>
              <ion-input formControlName="amount" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label class="red-bold-label">Expiry Date</ion-label>
              <ion-input formControlName="expiryDate" readonly></ion-input>
            </ion-item>
  
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  

<ion-footer class="myColor">
    <div class="form-buttons">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <button (click)="makePayment()" class="tooltip">
                    <ion-icon name="card"></ion-icon>
                    <span class="tooltiptext">Make Payment</span>
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>